[class*="span"].centred {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.container-fluid{
  background:url(../../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.proNote{
  font-size: 85px;
  font-weight: bolder;
  margin-bottom: 60px;

  color: rgba(0, 0, 0, 0.8);
}
.form-group{

  width: 500px;
  height: 600px;

  margin-top: 60%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  text-align: center;
}

.form-group img{
  width:120px;
  height:120px;
  margin-top:-60px;
  margin-bottom:30px;
}

input[type="text"],input[type="password"]{
  margin-left: 20px;
  width: 240px;
  height: 44px;
  margin-bottom:20px;
  font-size: 18px;
  border: 1px solid #000;
  padding-left:45px;
}

.button{
  padding: 15px 25px;
  background-color: dodgerblue;
  color: #fff;
  border: none;
  margin-bottom:20px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: dodgerblue;
}

a:hover{
  color: #150;
}

.form-check-label{
  text-decoration: none;
  color: dodgerblue;
}
div.tlo{
  white-space: pre-line;
}



