<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>


  <div class="container-fluid">


    <div class="row">
      <div class="span9 centred">

        <div class="form-group">

          <div class="proNote"> ProNote</div>
          <img src="https://findicons.com/files/icons/82/iphone/128/notes.png" alt="note">

          <label class="d-block">
            <i class="fa fa-user fa-2x cust" aria-hidden="true"></i>
            <input type="text" formControlName="username" [placeholder]="'Username'"/>
            <span hidden>Username</span>
          </label>

          <label class="d-block">
            <i class="fa fa-lock fa-2x cust" aria-hidden="true"></i>
            <input type="password" formControlName="password"
                   [placeholder]="'Password'" required/>
            <span hidden>Password</span>
          </label>

          <button class="button" type="submit" [disabled]="loginForm.invalid || isLoading">
            <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
            <span>Login</span>
          </button>

          <button class="button" type="submit" [disabled]="loginForm.invalid || isLoading">
            <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
            <span>Register</span>
          </button>

          <br/>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="remember"/>
            <span>Remember me</span>
          </label>

          <br/>
          <br/>

          <a href="#">Forgot Password</a>

        </div>

        <div class="alert alert-danger" [hidden]="!error || isLoading">
          Username or password incorrect.
        </div>

      </div>
    </div>
    <br/><br/><br/><br/><br/><br/>
  </div>


