.app-groups {
  margin-top: 10px;
  list-style: none;
}

.app-group {
  border: 1px black;
  width: 400px;

  background-color: lightgray;
  padding: 10px;
  margin-bottom: 10px;
}

.app-group button {
  float: right;
}

.app-group:hover {
  background-color: gray;
}
