<div>
  <div class="row">

    <div class="col-md-3">
      <h3>Add a group</h3>
      <input type="text" placeholder="group name.." #groupNameInput/>
      <button class="btn btn-success" (click)="addGroup(groupNameInput.value)">Add group</button>

      <app-loader [isLoading]="isLoading" [message]="'Loading groups..'"></app-loader>
    </div>

    <div class="col-md-6">
      <h3>Your groups</h3>
      <span>Click to see notes</span>

      <ul class="app-groups">
        <li *ngIf="groups && groups.length == 0">You have no groups</li>
        <li *ngFor="let group of groups" class="app-group">
          <span [routerLink]="['/notes', group.id]">
            Group name <b>{{group.name}}</b> with <b>{{group.notesNo}}</b> notes.
          </span>
          <button (click)="removeGroup(group.id)">&#10005;</button>
          <span *ngIf="groups.length == 0">You have no notes in this group</span>
        </li>
      </ul>
    </div>

  </div>
</div>
