<div>
  <div class="row">

    <div class="col-md-1">
      <button routerLink="/groups" class="btn btn-success">
        See groups
      </button>
    </div>

    <div class="col-md-3">
      <h3>Add a note</h3>
      <input type="text" placeholder="note title.." #noteTitleInput/>
      <input type="text" placeholder="description.." #noteDescriptionInput/>
      <button class="btn btn-success" (click)="addNote(noteTitleInput.value, noteDescriptionInput.value)">Add note</button>

      <app-loader [isLoading]="isLoading" [message]="'Loading notes..'"></app-loader>
    </div>

    <div class="col-md-6">
      <h3>Your notes</h3>

      <ul class="app-notes">
        <li *ngIf="notes && notes.length == 0">You have no notes in this group</li>
        <li *ngFor="let note of notes" class="app-note">
          <p><b>{{note.title}}</b> {{note.creationDate}}</p>
          {{note.description}}
          <button (click)="removeNote(note.id)">&#10005;</button>

          <button (click)="toggleCompleted(note.id)" *ngIf="note.completed" class="btn-success">
            <span>Completed &#10003;</span>
          </button>
          <button (click)="toggleCompleted(note.id)" *ngIf="!note.completed" class="btn-info">
            <span>Complete &ndash;</span>
          </button>
        </li>
      </ul>
    </div>

  </div>

</div>

