.app-notes {
  list-style: none;
}

.app-note {
  border: 1px black;
  width: 700px;

  background-color: lightgray;
  padding: 10px;
  margin-bottom: 10px;
}

.app-note button {
  float: right;
  margin-left: 5px;
}

.app-note:hover {
  background-color: gray;
}
