<app-header></app-header>

<div class="container-fluid">

<div class="jumbotron text-left">

  <router-outlet></router-outlet>
</div>

<div style="float:left;">
  <carousel [delay]="2000">
    <carousel-item>
      <img src="https://picsum.photos/200?image=0" alt="">
    </carousel-item>
    <carousel-item>
      <img src="https://picsum.photos/200?image=100" alt="">
    </carousel-item>
    <carousel-item>
      <img src="https://picsum.photos/200?image=200" alt="">
    </carousel-item>
  </carousel>
</div>


</div>
