.see-your-groups {
  padding: 10px;
  margin-top: 20px;
}

.app-groups {
  list-style: none;
}

.app-note {
  border: 1px black;
  width: 400px;

  background-color: lightgray;
  padding: 10px;
  margin-bottom: 10px;
}

.app-note:hover {
  background-color: gray;
}
