<div class="row">

  <div class="col-md-8">
    <h1>
      with pronote you can easily manage your tasks
    </h1>
    <h3>
      so you don't forget about anything
    </h3>

    <div class="see-your-groups">
      <button class="btn btn-success" routerLink="/groups">See your groups</button>
    </div>
  </div>

  <div class="col-md-4">
    <h1>Don't forget!</h1>
    <h3>Last three notes</h3>

    <ul class="app-groups">
      <li *ngFor="let note of lastThreeNotes" class="app-note">
        <b>{{note.title}}</b> {{note.description}}
      </li>
    </ul>
  </div>



</div>
